.bd{
    font-family: Arial, Helvetica, sans-serif;
}
.gt{
    display: flex;
    column-gap: 1pt;
    font-size: 3vw;
    text-align: left;
}
.chu{
    font-size: 3vw;
    text-align: left;
}
.tg{
    background-color: rgb(44, 44, 170);
    border-radius: 5pt;
    
}
#mau{
    color: rgba(31, 31, 236, 0.76);
}
#Km{
    color: rgb(236, 21, 21);
}
#A{
    color: gray;
}
h1{
    font-size: 5vw;
    text-align: left; }
