
body{
    text-align: center;
    font-size: 3vw;
    background-color:azure
   
}
.Div{
    background-color:azure
    
}
#submit{
    background-color: orangered;
    border: 0.1vw solid orangered;
    color: white;
    font-size: 3vw;
}
.fa{
    border: solid;
    border-radius: 100%;
    padding: 1%;
}
#email{
    font-size: 3vw;
}