body{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 4vw;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vw;
}
.head{
    background-color: rgb(252, 141, 141);
    width: 100%;
    height: 5%;
    align-content: center;
}
.bd{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}
#b1{
    background-color: yellow;
    width: 25%;
    align-content: center;
}
#b2{
    background-color: rgb(121, 186, 237);
    width: 50%;
    align-content: center;
}
#b3{
    background-color:palevioletred;
    width: 25%;
    align-content: center;
}
.ft{
    background-color: greenyellow;
    align-content: center;
}
@media(max-width:1024px){
    .bd{
        display: flex;
        flex-wrap: wrap;
    }
    #b1{
        flex: 1;
        order:1
    }
    #b3{
        flex: 1;
        order:1;  
    }
    #b2{
        width:100%;
    }

}
@media (max-width:768px){
    .bd{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
        text-align: center;
    }
    #b1{
        order:2;
        width: 100%;
        height: 25%;
    }
    #b2{
        order:1;
        width: 100%;
        height:50% ;
        line-height: 40px;
    }
    #b3{
        order:2;
        width: 100%;
        height: 25%;
    }
    .head,.ft{
        height: 30px;
    }

}
