.container{
    display: flex;
    flex-direction: row;
    /* justify-content:space-between;  Điều chỉnh khối theo chiều ngang*/
    border: 10px solid black;
    height: 90vh;
    align-items: center;/*Điều chỉnh khối theo chiều dọc*/
}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
    
}
#box1{
    background-color: rgb(253, 93, 93);
}
#box2{
    background-color: rgb(238, 238, 47);
}
#box3{
    background-color:rgb(97, 207, 97);
}
#box4{
    background-color: rgb(147, 147, 233);
}