body{
    padding: 20px;
}
.item{
    background-color: aqua;
    text-align: center;
    align-content: center;
}
.container{
    display: grid;
    grid-template-areas: 
    "aa aa aa"
    "cc dd dd"
    "cc ee ff";
    gap: 10px 10px;
}
.item-1{
    background-color: aquamarine;
    grid-area:aa;
    height: 100px;
}
.item-2{
    background-color: bisque;
}
.item-3{
    grid-area:cc;
    height: 200px;
}
.item-4{
    background-color: coral;
    grid-area:dd;
}
.item-5{
    background-color: rgb(104, 229, 232);
    grid-area:ff;
}
.item-6{
    background-color: rgb(255, 127, 204);
    grid-area:ff;
}
