body{
    padding: 20px;
}
.item{
    background-color: rgb(102, 236, 212);
    text-align: center;
    align-content: center;
}
.container{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; tương đối  
    Grid-template-columns: repeat(3,1)fr lặp lại 3 lần*/
    grid-auto-rows: minmax(60px,auto);
    gap: 10px 10px;
    grid-template-areas: 
    "aa aa aa"
    "cc dd ee"
    "cc ff ff";
}
.item-1{
    grid-area:aa;
}
.item-3{
    grid-area:cc;
}
.item-5{
    grid-area:ff;
}
@media only screen and (max-width: 640px) {
    .container{
        display: grid;
        gap: 10px 10px;
        background-color: rgb(255, 94, 0);
        border: 10px solid rgb(255, 94, 0);
    }
    
    
}

@media only screen and (max-width: 1024px)and (min-width: 641px){
    .container{
        display: grid;
        gap: 10px 10px;
        background-color: rgb(255, 0, 8);
        border: 10px solid rgb(255, 0, 8);
    }
}
@media only screen and (min-width: 1024px){
    .container{
        display: grid;
        gap: 10px 10px;
        background-color: rgb(208, 255, 0);
        border: 10px solid rgb(208, 255, 0);
    }
}
