html, body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}


/* Navbar */
.nav {
    min-height: 42px;
    background-color: #070201;
    color: white;
    display: flex;
    justify-content: space-between;
    
}
.nav-list {
    padding-left: 0;
    margin: auto 16px;
}

.nav-item {
    color: #fff;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    
}
fieldset {
    border-radius: 10px; 
}
legend{
    display: block;
    text-align: center;
    background-color:rgb(232, 230, 230) ;
    max-height: fit-content;
    line-height: 35px;
    
}
/* aside*/
.aside-1{
    background-color: #ecebeb;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    display: block;
}
.aside {
    display: grid;
    grid-template-areas: 
    "bb cc"
    "dd ff"
    "ee gg"
    "hh hh";
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;     /* Căn giữa theo chiều dọc */
    text-align: center;
    padding: 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.aside-2{
    grid-area: bb; 
    display: block;
    flex-direction: column;
    max-height: fit-content;
    line-height: 15px;
}
.aside-3{
    grid-area: cc;
    display: block;
    flex-direction: column;
    max-height: fit-content;
    line-height: 25px;
}
.aside-4{
    grid-area: dd;
    display: block;
    flex-direction: column;
    max-height: fit-content;
    line-height: 25px;
}
.aside-5{
    grid-area: ff;
    display: block;
    flex-direction: column;
    max-height: fit-content;
    line-height: 25px;
}
.aside-6{
    grid-area: ee;
    display: block;
    flex-direction: column;
    max-height: fit-content;
    line-height: 25px;
}
.aside-7{
    grid-area: gg;
    display: block;
    flex-direction: column;
    max-height: fit-content;
    line-height: 25px;
}

.footer {
    background-color: #070201;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
