body{
  padding: 20px;
}
.item{
  background-color: aqua;
  text-align: center;
  align-content: center;
}
.container{
  display: grid;
 
  grid-template-areas:  'item1 item2 item8 item8 item8 item8 '
                        'item3 item4 item8 item8 item8 item8 '
                        'item5 item6 item8 item8 item8 item8 '
                        'item7 item9 item8 item8 item8 item8 '
                        'item10 item15 item11 item12 item13 item14 ';
  gap: 10px 10px;
}
.item-1{
  grid-area: item1;
}
.item-2{
  grid-area: item3;
}
.item-3{
  grid-area: item5;
}
.item-4{
  grid-area: item7;
}
.item-6{
  grid-area: item10;
}
.item-5{
  grid-area: item8;
}

